.nav-link.active {
  font-weight: bold;
  color: #0d6efd; /* Cambia el color según tu diseño */
}

/* La clase .content toma el espacio restante */
.content {
  flex: 1; /* Esto permite que el contenido crezca y el footer se quede abajo */
}

/* Estilo del footer */
.footer {
  background-color: #808080; /* Color de fondo del footer */
  text-align: center; /* Centrar el texto */
  padding: 10px 0; /* Espaciado interno */
}

footer p {
  color: #000;
}
