<header>
  <nav>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home"><button type="button" class="btn btn-secondary">Home</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/task"><button type="button" class="btn btn-secondary">Task</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active"><button type="button"
            class="btn btn-secondary">Users</button></a>
      </li>
    </ul>
  </nav>
</header>

<main class="content">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <p class="">Todos los derechos reservados GeovanyRico 2024</p>
</footer>
