.list-task {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem; /* Agrega un espaciado uniforme entre las tarjetas */
}

.card {
  width: 30%; /* Asegura que cada tarjeta ocupe un 30% del espacio */
}
